.menu__icon {
  position: absolute;
  right: 3rem;
  top: 2rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--thiry-color);
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  z-index: 1;
  transition: opacity 0.5s ease-in-out
}

.menu {
  width: 100%;
  height: 100%;


  .menu__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  li {
    font-size: 40px;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  li:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
  }
}

.icon__color {
  color: var(--primary-color);
  width: 25px;
  height: 25px;

}