.home__info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  
}


@media (max-width:992px) {
  .home__info {

    flex-direction: column-reverse;
    gap: 5rem;
  }
}

.home__info__text {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;

  p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: normal;
    margin: 0;

  }

  h1 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
  }

  h2 {
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 400;
    letter-spacing: normal;
    color: #555555;
    margin: 0;
  }

  a {
    margin-top: 7px;
  }
}

.home__info__img {
  .img__box {
    display: flex;
    background-color: white;
    border-radius: 50%;
    padding: 3px;

    img {
      width: 217px;
      height: 217px;
      border-radius: 50%;
      object-fit: cover;
      user-select: none;

    }
  }


}