@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #e02f6b;
  --thiry-color: #E8F9FF;
  --secondary-color: #2ecc71;
  --text-color: #18293C;
  /* --background-color: #ecf0f1; */
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

html {
  scroll-behavior: smooth;
}


body {
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #aef1ee, #8F87F1);
  background-attachment: fixed;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--text-color);
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  padding: 35px 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}


.style__section {
  position: relative;
  padding: 4rem 4rem;
  margin-inline: 8%;
  background-color: #ffffff40;
  border: 1px solid #ffffff40;
  min-height: calc(100vh - 75px);
  border-radius: 30px;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .style__section {
    margin-inline: 0;
  }
}

@media (max-width: 350px) {
  .style__section {
    margin-inline: 0;
    padding-inline: 1rem;
  }
}

.btn__default {
  background-color: var(--primary-color);
  color: white;

  &:hover {
    color: var(--primary-color);
    background-color: rgb(255 255 255 / 25%);
    border: 1px solid var(--primary-color);

  }
}

.btn__secondary {
  color: var(--primary-color);
  background-color: rgb(255 255 255 / 25%);
  border: 1px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.btn__default,
.btn__secondary {
  line-height: 1.5;
  padding: 12px 28px;
  margin-block: 16px;
  display: inline-block;
  font-weight: 700;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 25px;
}



.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



.hvr-fancy {
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease;
}

.hvr-fancy::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 100%;
  background: #e02f6b;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.hvr-fancy:hover::before {
  transform: translateX(-50%) scaleX(1);
}

.hvr-fancy:hover {
  color: white !important;
}
